.banner {
    display: block;
    padding: 5px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    opacity: 100%;
}

.bannerText {
    position: relative;
    top: 27vh;
    z-index: 20;
    left: 10vw;
    font-size: calc(6vh + 6vw);
    color: white;
    z-index: 30;
    font-family: 'Times New Roman', Times, serif ;
}